body {
  position: relative;
  width: 1440px;
  height: 800px;
  background: #d5e1ef;
  font-family: Outfit;
  font-style: normal;
}
.container {
  position: absolute;
  width: 320px;
  height: 497px;
  left: 560px;
  top: 152px;
  /* White */

  background: #ffffff;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
  border-radius: 20px;
}
img {
  height: 288px;
  width: 288px;
  border-radius: 20px;
  position: absolute;
  left: 5%;
  right: 5%;
  top: 3.22%;
  bottom: 38.83%;
}

.text {
  position: absolute;
  height: 57px;
  left: 5.56%;
  right: 5.56%;
  top: calc(50% - 57px / 2 + 36px);

  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.1875px;

  color: #7d889e;
}
.text-heading {
  position: absolute;
  height: 56px;
  left: 0%;
  right: 0%;
  top: calc(50% - 56px / 2 - 36.5px);
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  text-align: center;

  color: #1f314f;
}
.text-container {
  position: absolute;
  left: 5%;
  right: 5%;
  top: 66%;
  bottom: 8.05%;
}
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px; /* Height of the footer */
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
