@media screen and (max-width: 600px) {
  body {
    position: relative;
    width: 375px;
    height: 667px;
    background: #d5e1ef;
    font-family: Outfit;
    font-style: normal;
  }
  .container {
    position: relative;
    width: 320px;
    height: 497px;
    left: 28px;
    top: 85px;
    /* White */

    background: #ffffff;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
    border-radius: 20px;
  }
  img {
    position: absolute;
    width: 288px;
    height: 288px;
    left: 16px;
    top: 16px;
    right: 16px;
    bottom: 193px;
    border-radius: 10px;
  }

  .text {
    position: absolute;
    height: 57px;
    left: 5.56%;
    right: 5.56%;
    top: calc(50% - 57px / 2 + 36px);

    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1875px;

    /* Grey */

    color: #7d889e;
  }
  .text-heading {
    position: absolute;
    height: 56px;
    left: 0%;
    right: 0%;
    top: calc(50% - 56px / 2 - 36.5px);
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #1f314f;
  }
  .text-container {
    position: absolute;
    width: 288px;
    height: 129px;
    left: 16px;
    top: 328px;
  }
  .attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px; /* Height of the footer */
    top: 565px;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
